* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  background-image: linear-gradient(
    to bottom right,
    rgba(0, 15, 155, 0.842),
    rgb(142, 214, 243)
  );
  text-align: center;
  height: fit-content;
  padding: 0;
  margin: 0;
}

/* framwork class for centering things */
.centering {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.nav__bar {
  position: sticky;
  top: 0;
  z-index: 10;
}
.nav__bar .title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.nav__bar .title h1 {
  padding-top: 15px;
  font-family: "Lobster", sans-serif;
  font-size: 40px;
  user-select: none;
  color: #1ab5edc9;
  text-shadow: 0 1px 5px rgba(34, 34, 34, 0.76);
}

.nav__bar .title img {
  width: 80px;
}

.home {
  height: calc(100vh - 114px);
  background-image: url(../images/bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.home img {
  filter: opacity(20%);
  position: absolute;
  z-index: -1;
}

.home img:first-child {
  width: 200px;
  animation: animation-left 35s ease infinite;
  -webkit-animation: animation-left 35s ease infinite;
}

.home img:nth-child(2) {
  width: 300px;
  top: 40px;
  right: -300px;
  animation: animation-right 40s ease 1.5s infinite;
  -webkit-animation: animation-right 40s ease 1.5s infinite;
}

.home img:nth-child(3) {
  width: 400px;
  top: 100px;
  left: -100%;
  animation: animation-left 35s ease 2.5s infinite;
  -webkit-animation: animation-left 35s ease 2.5s infinite;
}

.home img:nth-child(4) {
  width: 190px;
  top: 50%;
  right: -190px;
  animation: animation-right 45s ease 2s infinite;
  -webkit-animation: animation-right 45s ease 2s infinite;
}

@keyframes animation-right {
  0% {
    right: -50%;
  }
  50% {
    right: 100%;
  }
  100% {
    right: -50%;
  }
}

@keyframes animation-left {
  0% {
    left: -50%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: -50%;
  }
}

.home a {
  top: 80%;
  right: 50%;
  text-decoration: none;
  position: absolute;
  z-index: 1;
  padding-top: 12px;
  width: 200px;
  height: 50px;
  color: rgba(0, 0, 0, 0.822);
  background-color: inherit;
  border-radius: 5px;
  font-size: 20px;
  font-family: "Comfortaa", sans-serif;
  border: 0.5px solid rgba(0, 0, 0, 0.726);
  box-shadow: 0 0.5px 5px rgba(0, 0, 0, 0.384);
  transition: 0.3s;
}
.home a:hover {
  box-shadow: 0 0.5px 20px rgba(0, 0, 0, 0.384);
  background-color: #1994c0c9;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  margin-top: 150px;
  font-family: "Comfortaa", sans-serif;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
.holder {
  height: 50px;
  min-width: 40%;
}

input {
  width: 100%;
  height: inherit;
  padding-left: 10px;
  background: #1ab5edc9;
  color: rgba(0, 0, 0, 0.829);
  font-size: 20px;
  border: 1px solid rgba(0, 0, 0, 0.945);
  border-radius: 5px;
}

.error {
  color: rgba(255, 0, 0, 0.863);
  display: none;
  padding-top: 30px;
}

select {
  padding-left: 10px;
  background: #1ab5edc9;
  color: rgba(0, 0, 0, 0.829);
  font-size: 20px;
  border: 1px solid rgba(0, 0, 0, 0.945);
  border-radius: 5px;
}

button {
  min-width: 40%;
  height: 50px;
  background: inherit;
  border: 0.5px solid rgba(0, 0, 0, 0.726);
  box-shadow: 0 0.5px 5px rgba(0, 0, 0, 0.637);
  transition: 0.3s;
  border-radius: 5px;
  font-size: 20px;
}
button:hover {
  border: 1px solid rgba(0, 0, 0, 0.726);
  background-color: #1994c0c9;
}

.entry {
  background: rgba(189, 189, 189, 0.13);
  width: 50%;
  min-height: 200px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 10px rgba(80, 80, 80, 0.486);
  transition: 0.3s;
  display: none;
  user-select: none;
  position: relative;
}
#entryHolder {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 20px;
}

#temp {
  font-size: 60px;
  font-weight: 300;
  position: absolute;
  font-family: sans-serif;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.76);
  top: 10%;
  left: 2%;
  color: rgba(255, 255, 255, 0.63);
}
#temp i {
  font-size: 50px;
  text-shadow: none;
  color: black;
}
#date {
  position: absolute;
  top: 55%;
  left: 2%;
}

#date i {
  font-size: 20px;
}
#city__name {
  position: absolute;
  right: 5%;
  top: 10%;
  font-size: 50px;
  font-weight: 300;
  float: right;
  max-width: 40%;
}
#content {
  position: absolute;
  top: 75%;
  left: 2%;
}

/* start loading animation styling */
.loading {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.loading span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid rgb(160, 160, 250);
  animation: loading-animation 1s ease-in-out infinite;
  -webkit-animation: loading-animation 1s ease-in-out infinite;
}

.loading span:nth-child(2) {
  animation-delay: 0.1s;
}

.loading span:nth-child(3) {
  animation-delay: 0.2s;
}

.loading span:nth-child(4) {
  animation-delay: 0.3s;
}

@keyframes loading-animation {
  0% {
    background-color: inherit;
  }
  50% {
    background-color: #435fbe;
  }
  100% {
    background-color: inherit;
  }
}

/* end loading animation styling */

/*start footer*/
.footer {
  height: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.603);
  background-color: inherit;
  font-family: "Comfortaa", sans-serif;
  margin-top: 30px;
}

.footer p {
  margin: 8px;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: rgba(0, 0, 0, 0.589);
  font-family: "Comfortaa", sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.589);
  font-family: "Comfortaa", sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(0, 0, 0, 0.589);
  font-family: "Comfortaa", sans-serif;
}
