* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(
    to bottom right,
    rgba(0, 15, 155, 0.842),
    rgb(142, 214, 243)
  );
  font-family: sans-serif;
  text-align: center;
  height: 1510px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
body .nav__bar {
  position: sticky;
  top: 0;
  z-index: 10;
}
body .nav__bar .title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body .nav__bar .title h1 {
  padding-top: 15px;
  font-family: "Lobster", sans-serif;
  font-size: 40px;
  user-select: none;
  color: #1ab5edc9;
  text-shadow: 0 1px 5px rgba(34, 34, 34, 0.76);
}
body .nav__bar .title img {
  width: 80px;
}

body .home {
  height: calc(100vh - 114px);
  background-image: url(../images/bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden;
}

body .home img {
  filter: opacity(20%);
  position: absolute;
}
body .home img:first-child {
  width: 200px;
  animation-name: animation;
  animation-duration: 29s;
  animation-iteration-count: infinite;
}
body .home img:nth-child(2) {
  width: 300px;
  top: 40px;
  right: -300px;
  animation-name: animation;
  animation-duration: 40s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}
body .home img:nth-child(3) {
  width: 400px;
  top: 100px;
  right: -400px;
  animation-name: animation;
  animation-duration: 35s;
  animation-delay: 2.5s;
  animation-iteration-count: infinite;
}

body .home img:nth-child(4) {
  width: 190px;
  top: 120px;
  right: -190px;
  animation-name: animation;
  animation-duration: 35s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
}
@keyframes animation {
  0% {
    right: -30%;
  }
  50% {
    right: 80%;
  }
  100% {
    right: -30%;
  }
}
body .home a {
  top: 80%;
  right: 50%;
  text-decoration: none;
  position: absolute;
  z-index: 1;
  padding-top: 12px;
  width: 200px;
  height: 50px;
  color: rgba(0, 0, 0, 0.822);
  background-color: inherit;
  border-radius: 5px;
  font-size: 20px;
  font-family: "Comfortaa", sans-serif;
  border: 0.5px solid rgba(0, 0, 0, 0.726);
  box-shadow: 0 0.5px 5px rgba(0, 0, 0, 0.637);
  transition: 0.3s;
}
body .home a:hover {
  border: 1px solid rgba(0, 0, 0, 0.726);
  background-color: #1994c0c9;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  height: 750px;
  padding-top: 200px;
  font-family: "Comfortaa", sans-serif;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
.holder {
  height: 60px;
  min-width: 40%;
}
input {
  width: 100%;
  height: 66%;
  padding-left: 10px;
  background: #1ab5edc9;
  color: rgba(0, 0, 0, 0.829);
  font-size: 20px;
  border: 2px solid rgba(0, 0, 0, 0.945);
  border-radius: 5px;
}

.alarm {
  color: rgba(255, 0, 0, 0.863);
  display: none;
}

select {
  height: 40px;
  padding-left: 10px;
  background: #1ab5edc9;
  color: rgba(0, 0, 0, 0.829);
  font-size: 20px;
  border: 2px solid rgba(0, 0, 0, 0.945);
  border-radius: 5px;
}

textarea {
  width: 100%;
  height: 66%;
  padding-top: 5px;
  background: #1ab5edc9;
  padding-left: 10px;
  background: #1ab5edc9;
  color: rgba(0, 0, 0, 0.829);
  font-size: 20px;
  border: 2px solid rgba(0, 0, 0, 0.945);
  border-radius: 5px;
  resize: none;
}

button {
  min-width: 40%;
  height: 40px;
  background: inherit;
  border: 0.5px solid rgba(0, 0, 0, 0.726);
  box-shadow: 0 0.5px 5px rgba(0, 0, 0, 0.637);
  transition: 0.3s;
  border-radius: 5px;
  font-size: 20px;
}
button:hover {
  border: 1px solid rgba(0, 0, 0, 0.726);
  background-color: #1994c0c9;
}

.entry {
  background: rgba(189, 189, 189, 0.13);
  width: 50%;
  height: 200px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 10px rgba(80, 80, 80, 0.486);
  transition: 0.3s;
  display: none;
  user-select: none;
}
#entryHolder {
  height: 100%;
  position: relative;
}
#temp {
  font-size: 60px;
  font-weight: 300;
  position: absolute;
  font-family: sans-serif;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.76);
  top: 10%;
  left: 2%;
  color: rgba(255, 255, 255, 0.63);
}
#temp i {
  font-size: 50px;
  text-shadow: none;
  color: black;
}
#date {
  position: absolute;
  top: 55%;
  left: 2%;
}

#date i {
  font-size: 20px;
}
#city__name {
  position: absolute;
  right: 5%;
  top: 10%;
  font-size: 50px;
  font-weight: 300;
  float: right;
  max-width: 40%;
}
#content {
  position: absolute;
  top: 75%;
  left: 2%;
}

/*start footer*/
.footer {
  height: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.603);
  background-color: inherit;
  font-family: "Comfortaa", sans-serif;
  align-items: center;
}
.footer p {
  margin: 8px;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: rgba(0, 0, 0, 0.589);
  font-family: "Comfortaa", sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.589);
  font-family: "Comfortaa", sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(0, 0, 0, 0.589);
  font-family: "Comfortaa", sans-serif;
}
